.card {
  padding: 10px;
  height: 400px;
  text-align: center;
}
.card:hover {
  transform: scale(1.1);
  cursor: pointer;
}
.card:hover .card-title h5 {
  font-size: 1.35rem;
}
.card-img-top {
  width: 100%;
  height: 300px;
}
.card-title h5 {
  padding-top: 32px;
}
